@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.background{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


.logo span{
    position: relative;
    background-color: aqua;
    width: 60px;
    height: 30px;
    padding: 20px;
}


.headerLinks{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 20px;



}

.headerLinks span{
    transition: transform 0.5s ease, background-color 0.5s ease;
    border-radius: 20px;
}

.headerLinks span:hover{
    background-color: #33144a;
    color: #FFF;
    border-radius: 20px;
    transform: scale(1.10); 
    cursor: pointer;


}

.headerLinks span{
    padding: 10px;
}

.headerMain{
    width: 100%;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.headerTitle{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 80%;
    padding: 4%;
}



.headerTit{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 65px;
    text-align: center;

}
.headerSub{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.imgBack{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBack img{

    height: auto;
    object-fit: cover;
    width: 50%;
}

.buttonHeader{
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;


}

.mainButton{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    padding: 10px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    transition: transform 0.5s ease, background-color 0.5s ease;
    background-color:#f4f4f4;

} 

.mainButton:hover{
    background-color: #33144a;
    color: #fff;
    transform: scale(1.10); 

}



@media screen and (max-width: 40rem){

    .headerLinks{
    display: none;

}





    
.imgBack{
    display: none;
    align-items: center;
    justify-content: center;
}

.imgBack img{
        display: none;
    height: auto;
    object-fit: cover;
    width: 70%;
}
  



}

@media screen and (max-width: 48rem){

    
.headerLinks{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 20px;
    margin: 0 auto;



}
    .imgBack{
    display: none;
    align-items: center;
    justify-content: center;
}

.imgBack img{
        display: none;
    height: auto;
    object-fit: cover;
    width: 70%;
}

.headerTitle{
    display: flex;
    flex-direction: column;
    gap: 78px;
    width: 70%;
    padding: 4%;
}



.headerTit{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 65px;
    text-align: center;

}
.headerSub{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

}

@media screen and (max-width: 64rem) {

    
.headerLinks{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 20px;
    margin: 0 auto;



}
    .imgBack{

    align-items: center;
    justify-content: center;
}

.imgBack img{
        display: none;
    height: auto;
    object-fit: cover;
    width: 70%;
}

.headerTitle{
    display: flex;
    flex-direction: column;
    gap: 92px;
    width: 100%;
    padding: 4%;
}



.headerTit{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 56px;
    text-align: center;

}
.headerSub{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-align: center
}

}