

.back {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;  
    height: 100vh;     
    object-fit: cover; 
    z-index: -1;         
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6%;
    position: relative; 
    margin-top: 60px
}

.mainText {

    text-align: center;
    width: 36%;
    z-index: 1; 
    font-size: 22px;
}

.mainText h2{
    font-size: 34px;
}

.mainImg img {

    width: 280px;
    height: auto;
}

@media screen and (max-width: 64rem) {

.main {
    display: flex;
    flex-direction:column;

}

.mainText {

    text-align: center;
    width: 80%;
    z-index: 1; 
    font-size: 19px;
}

.mainText h2{
    font-size: 26px;
}

.mainImg img {

    width: 120px;
    height: auto;
}

}



