@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.main{
    width: 100%;
    height: 300px;
    background-color: #050505;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;


    justify-content: space-around;
}

.main div{
    text-align: center;
    margin-top: 20px;
}

.title{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 26px;
    padding: 8px;
}

.main span{
        font-family: "Roboto", sans-serif;
        font-weight: 300;
    font-size: 18px;
    color: #ffff;
}

.info{
    display:flex;
    align-items: center;
    justify-content:center;
    width: 40%;
    gap:10%

}

.infoServices{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoServices span{

    font-weight: bold;

}

.direitos{
    padding: 8px;
    background-color: #2b2b2a;
    color: #FFF;
    font-size: 18px;
    display: flex;
    justify-content: space-around;

}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.redes span a{
    color: #FFF;
    font-size: 26px;
}


@media screen and (max-width: 600px) {

    .main{
        width: 100%;
        height: 200px;
        background-color: #050505;
        display: flex;
        gap: 20px;

    
    
        
    }
    .title{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #fff;
        font-size: 14px;
    }
    
    .main span{
            font-family: "Roboto", sans-serif;
            font-weight: 300;
        font-size: 10px;
        color: #ffff;
    }
    
    .infoServices{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .direitos{
        padding: 8px;
        background-color: #2b2b2a;
        color: #FFF;
        font-size: 12px;
        display: flex;
        justify-content: space-around;
    
    }

    .redes{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .redes span{
    
        font-size: 20px;
    }
} 

@media screen and (max-width: 480px) {
    .main{
        width: 100%;
        height: 200px;
        background-color: #050505;
        display: flex;
        gap: 20px;

    
    
        
    }

    .title{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #fff;
        font-size: 16px;
    }
    
    .main span{
            font-family: "Roboto", sans-serif;
            font-weight: 300;
        font-size: 10px;
        color: #ffff;
    }
    
    .infoServices{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .direitos{
        padding: 8px;
        background-color: #2b2b2a;
        color: #FFF;
        font-size: 8px;
        display: flex;
        justify-content: space-around;
    
    }
    
    .redes{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .redes span{
    
        font-size: 20px;
    }

}
/* 
@media screen and (max-width: 600px) {

    .main{
        width: 100%;
        height: 200px;
        background-color: #050505;
        display: flex;
        gap: 20px;

    
    
        
    }
    .title{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #fff;
        font-size: 14px;
    }
    
    .main span{
            font-family: "Roboto", sans-serif;
            font-weight: 300;
        font-size: 10px;
        color: #ffff;
    }
    
    .infoServices{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .direitos{
        padding: 8px;
        background-color: #2b2b2a;
        color: #FFF;
        font-size: 12px;
        display: flex;
        justify-content: space-around;
    
    }

    .redes{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .redes span{
    
        font-size: 20px;
    }
} */